
body {
    font-family: Arial;
    font-size: 19px;
    color: #777;
}
.header {
    font-size: 4em;
    font-weight: bolder;
    letter-spacing: -3px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 17px;
}
.footer {
  border-top: 1px solid #ddd;
  padding: 17px 0px;
  font-size: 1em;
  text-align: center;
}
.header, .footer {
  color: #ea6153;
  background-color: #fff;
}
.navigation {
    margin-left: 33px;
}
h1, h2, h3 {
  text-align: center;
}
h2 {
  font-size: 2em;
}
h3 {
  color: #c0392b;
}
p{
  margin: 0;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222;
    color: #fff;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.container {
    padding: 20px;
    margin: 33px 0 33px 33px;
    width: 60%;
}
.container a {
    color: #ea6153;
}
.container table {
    font-size: 14px;
    margin-top: 20px;
}
.container table thead {
  font-weight: bold;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    color: #ea6153;
    cursor: pointer;
    padding: 10px 49px;
    font-weight: bold;
}
.container input[type="submit"]:hover {
    background-color: #ea6153;
    color: #fff;
}
.container button {
    background-color: #ccc;
    color: #ea6153;
    border: 0;
    padding: 10px 49px;
    cursor: pointer;
    font-weight: bold;
}
.container button:hover {
    background-color: #ea6153;
    color: #fff;
}

.sidebar {
  padding-right: 10%;
  border-right: 1px solid #ddd;
}

.container {
  display: inline-flex;
}

.mini-container, .dashboard {
  padding-left: 10%;
}

/* login */
#loginbox {
  padding: 0 60%;
}

#loginbox h2 {
  text-align: center;
}

#loginButton {
  padding: 10px 73px;
}
ul li {
  list-style-type:;
}

a{
  text-decoration: none;
}
.dashboard a:hover {
  font-size: 1.4em;
  font-weight: bold;
  color: #ea6153;
}

.view a:hover {
  background-color: #ea6153;
  color: #fff;
}

.addlead {
  margin-left: -5%;
}

#fdate {
  width: 74px;
}
